<h2 class=""><%= link_to 'Teams of the NBA', teams_path %></h2>

<h4><%= "#{@team.city} #{@team.name}" %></h4>

<p><%= link_to @team.arena.name, @team.arena %></p>
<ul>
  <% @team.players.each do |player| %>
    <li><%= link_to player.full_Name, player %></li>
  <% end %>
</ul>