<h2 class=""><%= link_to "Arenas of the NBA", arenas_path %></h2>

<h4><%= @arena.name %></h4>

<ul>
  <% @arena.teams.each do |team| %>
    <li><%= link_to team.name, team %></li>
  <% end %>
</ul>

<p> <%= @arena.location %></p>