@import "bootstrap";

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 30px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  .first{
      padding : 0;
      float: none;
      border: none;
  }
  .prev {
      padding : 0;
      float: none;
      border: none;
  }
  .page{
      padding : 0;
      float: none;
      border: none;
  }
  .next{
      padding : 0;
      float: none;
      border: none;
  }
  .last{
      padding : 0;
      float: none;
      border: none;
  }
}

.card-title, .card-text, .card-footer{
    text-align: center;
    font-style: normal;
}

.card-title{
    font-size: 4em;
}

.card-text{
    font-weight: bold;
}

a:link, a:visited{
    color: black;
    text-decoration: none;
}